@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align: center
  margin-left auto
  margin-right auto

.spinners
  display flex
  margin-bottom 2em

.spinner
  flex 1 1 auto
  height 200px
  border 3px solid grey

.shell
  width 600px
  max-width 100%;
  margin 0 auto

.buttonRow
  text-align center
